.firstspacer {
    flex: 1 1 auto;
}
.toolbarcolor{
    background-color: #1B98E0;
}
.backiconcolor{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.backbutton{
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.oversize{
    overflow: auto;
}