@import "../../../styles.scss";
 .mat-card{

    
    border-radius: 30px !important;
    border: 20px solid transparent;
    
   }
.image{
    height: 100vh;
    
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
   }
.DashBoardCardHeader{   
    font-size: 25px;
   font-weight: 600 !important;
   margin-top: 8px;
   margin-bottom: 8px;
   .mat-card-title{
       font-size: 20px !important;
       font-weight: bold !important;
   }
}
.margintop{
    margin-top: 100px !important;
}
.mat-form-field{
    width: 100%;
    font-size: 12px;

    ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 0 !important;
        padding-top :0 !important;
     }
     ::ng-deep .mat-form-field-infix{
         padding-top: 7px !important;
         padding-bottom: 10px !important;
     }
}
.fontsizeicon{
    font-size: 20px;
}
.nopadding{
    padding: 0px !important;
}

.fontsize{
    font-size: 12px !important;
    color: #1B98E0;
    cursor: pointer;
    padding: 0px !important;
}
.Login{
    background-color:  #3F51B5;
    font-weight: bold;
    font-size :16px;
    color : white;
    width: 100%;
}




