<div class="col-sm-12 designtop">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-4">
            <div class="row d-flex justify-content-center">
                <img src="/assets/Image/completed.png" />
            </div>
          
        </div>
    </div>
    
</div>
<div class="col-sm-12">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-4 ">
            <div class="row d-flex justify-content-center">
                <span class="font">Thank you</span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-4 mt-3">
            <div class="row justify-content-center">
                <button mat-raised-button color="primary" (click)="Homescreen()">Go to home</button>
            </div>
        </div>
        
    </div>
</div>
